*{
    box-sizing:border-box;
    margin:0;
    padding:0;

}
html,body{
    width:100%;
    height:100%;   
}
body{
    background-image:url("imagem/astromonia.jpg"); 
    background-position: contain; 
    background-repeat:no repeat;
}

header h1{
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.icones{
    color:white;
    font-size:30px;
    /*display: flex;
    justify-content: center;
    align-items: center;*/
    position: absolute;
    top: 0px;
    right:0px;

}      
.icones a:visited{
    color:white;

}
.cursor:hover{
    cursor:pointer;

}
section{
    width:100%;
    height:50%;
    display:flex;
    align-items:center;
    justify-content:center;
}

li{
    margin-left:15px;
}


.estrela{
    clip-path:polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%,32% 57%, 2% 35%, 39% 35%);
    width:80px;
    height:80px;
    background-color: yellow;
    animation: move-left 5s infinite alternate;
    transition: all ease-in-out .1s;
}
#container-estrelas{
    display:flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    
}
.estrela:hover{
    background-color: aqua;

}

@KeyFrames move-left{
    from{transform:translateX(0);}
    to{transform:translateX(1024px);}
    
}div{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    width:30%;
    margin-top: 25px;
}
h3{
    width: 30%;
    text-align: center;
    font-size: 1.5em;

}